fastapi
uvicorn[standard]
python-multipart
sqlalchemy
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
groq
gtts
moviepy
Pillow
mutagen
matplotlib
numpy
reportlab
python-pptx
requests
